/* LIST FILTERED
 * by Bogdan Yurov <bogdan@yurov.me> aka nick4fake
 * version 0.3, 2012 PATCHED! !!!
 * */
.list-filtered-panel {
  background:    #DDD;
  padding:       10px 36px;
  margin:        8px -24px;
  border-top:    solid 1px #AAA;
  border-bottom: solid 1px #AAA;
  .right {
    float: right;
  }
  label {
    display:        inline-block;
    vertical-align: middle;
    margin: 0 0.3em 0 0.5em;
  }
}
.list-filtered {
  width: 100%;
  .message, .preloader {
    text-align:     center;
    color:          black;
    font-size:      1.4em;
    background:     #DDD;
    letter-spacing: 2px;
    text-shadow:    0px 0px 6px white;
    padding:        14px;
  }
  thead th {
    pading-left: 6px;
    text-align:  left;
    .flist-sorter {
      white-space: nowrap;
      padding:     4px 10px;
      margin-bottom: 0.2em;
      &::after {
        content:        "";
        display:        inline-block;
        vertical-align: middle;
        position:       relative;
        top:            -0.02em;
        margin:         -1em -0.3em -1em 0.3em;
        @include ui-icon-carat-1-e;
      }
      &.order-asc::after {
        @include ui-icon-carat-1-s;
      }
      &.order-desc::after {
        @include ui-icon-carat-1-n;
      }
    }
    .coltitle {
      padding: 2px 6px;
    }
  }
  tbody td {
    .type-col {
      overflow:    hidden;
      margin:      0px 4px;
      height:      1.4em;
      white-space: nowrap;
    }
    .type-bool {
      text-align:  center;
      fond-weight: bold;
    }
    .bool-true {
      color: green;
    }
    .bool-false {
      color: red;
    }
    .type-money, .type-int {
      text-align: right;
    }
    .type-id {
      text-align:    right;
      fond-weight:   bold;
      color:         #ae8122;
      padding-right: 10px;
    }
    .type-center {
      text-align: center;
    }
    .type-date {
      text-align:    right;
      width:         103px;
      padding-right: 20px;
      white-space:   nowrap;
    }
    .type-actions {
      white-space: nowrap;
    }
    .empty {
      color: #959595;
    }
  }
  tbody tr {
    &:nth-child(even) {
      background: #EEE;
    }
    &:nth-child(odd) {
      background: #E4E4E4;
    }
    &:hover {
      background: #F4F4F4;
    }
  }
  tbody td.col-actions {
    text-align:    center;
    padding-right: 0px;
    .button {
      cursor:  pointer;
      display: inline-block;
      padding: 0px 2px;
      &:hover {
        @include opacity(0.6);
      }
      img {
        width:  1.2em;
        height: 1.2em;
      }
    }
  }
}