@mixin select2-active-gradient($img, $topmove: "center"){
  background: #fff url(#{$const-webapp-res}/select2/#{$img}) no-repeat 100% #{$topmove};
  background: url(#{$const-webapp-res}/select2/#{$img}) no-repeat 100% #{$topmove}, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url(#{$const-webapp-res}/select2/#{$img}) no-repeat 100% #{$topmove}, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url(#{$const-webapp-res}/select2/#{$img}) no-repeat 100% #{$topmove}, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url(#{$const-webapp-res}/select2/#{$img}) no-repeat 100% #{$topmove}, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url(#{$const-webapp-res}/select2/#{$img}) no-repeat 100% #{$topmove}, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
  background: url(#{$const-webapp-res}/select2/#{$img}) no-repeat 100% #{$topmove}, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select2-container {
  position: relative;
  display:  inline-block;

}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  @include box-sizing(border-box);
}

.select2-container .select2-choice {
  @include gradient-double(#eee, 0, #fff, 50);
  @include rounded(4px);
  @include background-clip-padding;
  border:          1px solid #aaa;
  display:         block;
  overflow:        hidden;
  white-space:     nowrap;
  position:        relative;
  height:          26px;
  line-height:     26px;
  padding:         0 0 0 8px;
  color:           #444;
  text-decoration: none;
}

.select2-container .select2-choice span {
  margin-right: 26px;
  display:      block;
  overflow:     hidden;
  white-space:  nowrap;
  @include text-overflow(ellipsis);
}

.select2-container .select2-choice abbr {
  display:         block;
  position:        absolute;
  right:           26px;
  top:             8px;
  width:           12px;
  height:          12px;
  font-size:       1px;
  background:      url(#{$const-webapp-res}/select2/select2.png) right top no-repeat;
  cursor:          pointer;
  text-decoration: none;
  border:          0;
  outline:         0;
}
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor:              pointer;
}

.select2-drop {
  background: #fff;
  border:     1px solid #aaa;
  border-top: 0;
  position:   absolute;
  top:        100%;
  z-index:    999;
  width:      100%;
  margin-top: -1px;
  @include drop-shadow(0, 4px, 5px, 0.15);
  @include border-radius(0, 0, 4px, 4px);
}

.select2-container .select2-choice div {
  @include border-radius(0, 4px, 4px, 0);
  @include gradient-double(#CCC, 0, #EEE, 60);
  border-left: 1px solid #aaa;
  position:    absolute;
  right:       0;
  top:         0;
  display:     block;
  height:      100%;
  width:       18px;
}

.select2-container .select2-choice div b {
  background: url(#{$const-webapp-res}/select2/select2.png) no-repeat 0 1px;
  display:    block;
  width:      100%;
  height:     100%;
}

.select2-search {
  display:       inline-block;
  white-space:   nowrap;
  z-index:       1010;
  min-height:    26px;
  width:         100%;
  margin:        0;
  padding-left:  4px;
  padding-right: 4px;
}

.select2-search-hidden {
  display:  block;
  position: absolute;
  left:     -10000px;
}

.select2-search input {
  @include select2-active-gradient("select2.png", -22px);
  padding:     4px 20px 4px 5px;
  outline:     0;
  border:      1px solid #aaa;
  font-family: sans-serif;
  font-size:   1em;
  width:       100%;
  margin:      0;
  height:      auto !important;
  min-height:  26px;
  @include box-shadow(none);
  @include rounded(0);
}

.select2-search input.select2-active {
  @include select2-active-gradient("spinner.gif");
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  @include drop-shadow(0, 0, 5px, 0.3);
  border:  1px solid #5897fb;
  outline: none;
}

.select2-dropdown-open .select2-choice {
  border:              1px solid #aaa;
  border-bottom-color: transparent;
  @include box-shadow(0 1px 0 #fff inset);
  @include gradient-double(white, 0, #EEE, 50);
  @include border-radius-bottom-left(0);
  @include border-radius-bottom-right(0);
}

.select2-dropdown-open .select2-choice div {
  background:  transparent;
  border-left: none;
}
.select2-dropdown-open .select2-choice div b {
  background-position: -18px 1px;
}

/* results */
.select2-results {
  margin:     4px 4px 4px 0;
  padding:    0 0 0 4px;
  position:   relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
}

.select2-results ul.select2-result-sub {
  margin: 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px
}
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px
}

.select2-results li {
  list-style: none;
  display:    list-item;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin:  0;
  cursor:  pointer;
}

.select2-results .select2-highlighted {
  background: #3875d7;
  color:      #fff;
}
.select2-results li em {
  background: #feffde;
  font-style: normal;
}
.select2-results .select2-highlighted em {
  background: transparent;
}
.select2-results .select2-no-results {
  background: #f4f4f4;
  display:    list-item;
}

.select2-results .select2-disabled {
  display: none;
}

.select2-more-results.select2-active {
  background: #f4f4f4 url(#{$const-webapp-res}/select2/spinner.gif) no-repeat 100%;
}

.select2-more-results {
  background: #f4f4f4;
  display:    list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border:           1px solid #ddd;
  cursor:           default;
}

.select2-container.select2-container-disabled .select2-choice div {
  background-color: #f4f4f4;
  background-image: none;
  border-left:      0;
}

/* multiselect */

.select2-container-multi .select2-choices {
  @include gradient-double(#EEE, 1, white, 15);
  border:   1px solid #aaa;
  margin:   0;
  padding:  0;
  cursor:   text;
  overflow: hidden;
  height:   auto !important;
  height:   1%;
  position: relative;
}

.select2-container-multi .select2-choices {
  min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
  @include drop-shadow(0, 0, 5px, 0.3);
  border:  1px solid #5897fb;
  outline: none;
}
.select2-container-multi .select2-choices li {
  float:      left;
  list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
  white-space: nowrap;
  margin:      0;
  padding:     0;
}

.select2-container-multi .select2-choices .select2-search-field input {
  color:       #666;
  background:  transparent !important;
  font-family: sans-serif;
  font-size:   100%;
  height:      15px;
  padding:     5px;
  margin:      1px 0;
  outline:     0;
  border:      0;
  @include box-shadow(none);
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url(#{$const-webapp-res}/select2/spinner.gif) no-repeat 100% !important;
}

.select2-default {
  color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  @include rounded(3px);
  @include gradient-sliced(#f4f4f4, #f0f0f0, #e8e8e8, #EEE);
  @include box-shadow(0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05));
  color:       #333;
  border:      1px solid #aaaaaa;
  line-height: 13px;
  padding:     3px 5px 3px 18px;
  margin:      3px 0 3px 5px;
  position:    relative;
  cursor:      default;
}
.select2-container-multi .select2-choices .select2-search-choice span {
  cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.select2-search-choice-close {
  display:    block;
  position:   absolute;
  right:      3px;
  top:        4px;
  width:      12px;
  height:     13px;
  font-size:  1px;
  background: url(#{$const-webapp-res}/select2/select2.png) right top no-repeat;
  outline:    none;
}

.select2-container-multi .select2-search-choice-close {
  left: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */

.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border:           1px solid #ddd;
  cursor:           default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  background-image: none;
  background-color: #f4f4f4;
  border:           1px solid #ddd;
  padding:          3px 5px 3px 5px;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
}
/* end multiselect */

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-result-selectable .select2-match {
  text-decoration: underline;
}
.select2-result-unselectable .select2-match {
  text-decoration: none;
}

.select2-offscreen {
  position: absolute;
  left:     -1000px;
}