<div id="global_browser_warn">
  <p>Ваш браузер ({{ browser }}) <b>устарел</b>.</p>
  <p>Он имеет <b>уязвимости в безопасности</b> и может
    <b>не показывать все возможности</b> на этом и других сайтах.</p>
  <p><a href="http://browser-update.org/update.html" rel="nofollow">Узнайте, как обновить Ваш браузер</a>.
    <a href="#close" id="global_browser_warn_close">Скрыть сообщение</a></p>
</div>
<script type="text/javascript">
  void function (act, obj) {
    act.onclick = function (e) {
      e.preventDefault();
      obj.parentNode.removeChild(obj);
      document.cookie = "{{ cookie }}=1";
    };
  }(document.getElementById('global_browser_warn_close'), document.getElementById('global_browser_warn'));
</script>
<style>
  #global_browser_warn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #A29330;
    background: #FDF2AB;
    padding: 5px 36px 5px 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 15px;
  }
  #global_browser_warn p {
    margin: 0;
  }
</style>